body{
    background-color:#056249;
}
header {
    background-color: #000001;
display: inline-grid;
grid-template-columns: 1fr 1fr;
width: 100%;
align-items: center;
}

h1 {

    color:#F3F3f3;
}

/*Targeting div with the class of logo*/
div.logo{
    width: 23%;
    padding:1%;
}
/*Targeting HTML element nav*/
nav {
    width: 73%;
    padding:1%;
}

/* Targeting the base HTML ul element */



.inline-block ul {
    display: inline-grid;
    grid-template-columns: .5fr .5fr .5fr .5fr .5fr;
    vertical-align:top;
    color: #F3F3f3;
}
.inline-block ul li {
    list-style-type: none;
    padding: 0px 50px;
}


/* Center images inside their containers */
.logo {
    text-align: center;
}

/*Code hero image CSS*/
.heroImg {
    height: 600px;
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.content {
   color:#F3F3f3;
    
}

/* Add the base HTML footer element */
.footer{
    background-color: #373738;}
    footer ul {
        display: inline-block;
        vertical-align: top;
    }
   
    footer li {
        padding: 0 10px;
    }
    
